@media (max-width: 320px){
  body{
    padding-top: 3em;
  }
}

@media (min-width: 360px){
  body{
    padding-top: 5em;
  }
}

@media (min-width: 375px){
  body{
    padding-top: 10em;
  }
}

@media (min-width: 576px){
  body{
    padding-top: 5em;
  }
}

@media (min-width: 768px){
  body{
    padding-top: 20em;
  }
}

@media (min-width: 992px){
  body{ 
    padding-top: 15em;
  }
}

@media (min-width: 1024px){
  body{
    padding-top: 25em;
  }
}

@media (min-width: 1024px){
  body{
    padding-top: 17em;
  }
}